.back{
  background: rgb(143,203,179);
  background: linear-gradient(135deg, var(--lotomania-secondary-color) 30%, var(--lotomania-primary-color) 50%, var(--lotomania-secondary-color) 70%);
  background-size: 600% 600%;
}
