*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

:root{
  --megasena-primary-color: #209869;
  --megasena-secondary-color: #8FCBB3;
  --megasena-strong-color: #126846;
  --lotofacil-primary-color: #930089;
  --lotofacil-secondary-color: #C87FC3;
  --lotofacil-strong-color: #660A60;
  --quina-primary-color: #260085;
  --quina-secondary-color: #927FC1;
  --quina-strong-color: #1E0952;
  --milionaria-primary-color: #2E317A;
  --milionaria-secondary-color: #59629F;
  --milionaria-strong-color: #191B47;
  --duplasena-primary-color: #A61324;
  --duplasena-secondary-color: #D28891;
  --duplasena-strong-color: #65121C;
  --lotomania-primary-color: #F78100;
  --lotomania-secondary-color: #FABF7F;
  --lotomania-strong-color: #B46106;
  --diaDeSorte-primary-color: #CB852B;
  --diaDeSorte-secondary-color: #EEC48B;
  --diaDeSorte-strong-color: #7C531E;

  .back{
    width: 100%;
    height: 100vh;
    animation: backAnimation 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-button{
      font-size: 3em;
      text-decoration: none;
      color: white;
      left: .2em;
      align-self: flex-start;
      margin-left: .2em;

      &:hover{
        transform: scale(1.2);
      }
    }
  }


@keyframes backAnimation {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}

}
