<div class="back">
  <h1>Escolha o jogo que quer sortear</h1>
  <a routerLink="megasena" routerLinkActive="active" class="lottery-option megasena">Megasena <i class="fa-solid fa-clover"></i></a>
  <a routerLink="lotofacil" routerLinkActive="active" class="lottery-option lotofacil">Lotofácil <i class="fa-solid fa-clover"></i></a>
  <a routerLink="quina" routerLinkActive="active" class="lottery-option quina">Quina <i class="fa-solid fa-clover"></i></a>
  <a routerLink="milionaria" routerLinkActive="active" class="lottery-option milionaria">Milionária <i class="fa-solid fa-clover"></i></a>
  <a routerLink="duplasena" routerLinkActive="active" class="lottery-option duplasena">Duplasena <i class="fa-solid fa-clover"></i></a>
  <a routerLink="lotomania" routerLinkActive="active" class="lottery-option lotomania">Lotomania <i class="fa-solid fa-clover"></i></a>
  <a routerLink="diaDeSorte" routerLinkActive="active" class="lottery-option diaDeSorte">Dia de Sorte <i class="fa-solid fa-clover"></i></a>
</div>
